<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheets" href="index.css ">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meet-up dating applikation</title>
    <link rel="stylesheet" href="index.css">
    <script src="localstorage.js" defer></script>
</head>
<body>

<div class = "sign-up-form">
    <h1> Sign up now</h1>
    <form action='myurl' method='POST' name='myForm'>
        <div class ="input">
            <img src = "/View/img/usericon.png">
            <input type="name" id="nameInput" class="input-box" placeholder="Your Name">
            <input type="lastName" id="lastNameInput" class="input-box" placeholder="Your Last Name">
            <input type="address" id="addressInput" class="input-box" placeholder="Your Address">
            <input type="gender" id="genderInput" class="input-box" placeholder="Gender">
            <input type="interest" id="interestInput" class="input-box" placeholder="Your Interest">
            <input type="email" id="emailInput" class="input-box" placeholder="Your Email">
        
            <input type="passWord" id="passWordInput" class="input-box" placeholder="Your Password">
<!-- 
            <input type="file" id="fileInput" class="input-box" placeholder="Pick your image">
            <input type="submit" id="submitImage" value="submit">
        -->
    </div>
            <p><span><input type ="checkbox"></span>I agree to the terms of the services</p>
            <input type="submit" id ="signEverything-btn" class="signUp-btn" value ="submit">Sign up</button>
            <hr>
            <p class="or">OR</p>
            <input type="button" class="facebook-btn">Facebook</button>
            <p>Do you have an account ? <a href="#">Sign in</a></p>
       


    </form>
</div>


    
</body>
</html>