<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheets" href="index.css ">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meet-up dating applikation</title>
    <link rel="stylesheet" href="/View/index.css" type= "text/css">
</head>
<body>

<div class = "sign-up-form">
    <h1> Sign up now</h1>
    <form content = "content-type" application = "application/json">
        <div class ="sign-up">
            <img src = "/View/img/usericon.png">
            <input name="firstName" id="firstNameInput" class="input-box" placeholder="Your First Name">
            <input name="lastName" id="lastNameInput" class="input-box" placeholder="Your Last Name">
            <input name="age" id="ageInput" class="input-box" placeholder="Your Age">
            <input name="address" id="addressInput" class="input-box" placeholder="Your Address">
            <input name="gender" id="genderInput" class="input-box" placeholder="Gender">
            <input name="interest" id="interestsInput" class="input-box" placeholder="Your Interest">
            <input type="eMail" name="eMail" id="eMailInput" class="input-box" placeholder="Your Email">
            <input name="userName" id="userNameInput" class="input-box" placeholder="Your Username">
            <input type="password" name="passWord" id="passWordInput" class="input-box" placeholder="Your Password">
    </div>
            <p><span><input type ="checkbox"></span>I agree to the terms of the services</p>
            <input type="submit" id ="signup-btn" class="signUp-btn" value ="Sign up"></button>
            <hr>
            <p class="or">OR</p>
            <input type="button" class="facebook-btn" value= "Faceboob"></button>
            <p>Do you have an account ? <a href="/View/sign-in.html">Log in</a></p>


       


    </form>
</div>

<script>
    const addUser = (ev)=>{
    ev.preventDefault();  // jeg stopper min form for at submitte automatisk
    let user = {
    id: Date.now,
    firstName: document.getElementById('firstNameInput').value,
    lastName: document.getElementById('lastNameInput').value,
    age: document.getElementById('ageInput').value,
    address: document.getElementById('addressInput').value,
    interests: document.getElementById('interestsInput').value,
    eMail: document.getElementById('eMailInput').value,
    userName: document.getElementById('userNameInput').value,
    passWord: document.getElementById('passWordInput').value,
    gender: "male"
    };
    console.log(user);

    document.forms[0].reset(); // her ryder jeg min form for den næste der skal udfylde felterne
    //document.querySelector('form').reset();

    const Http = new XMLHttpRequest();
            const url='http://localhost:3004/users';
            Http.open("POST", url, true);
            Http.setRequestHeader("Content-Type","application/json")
            var data = JSON.stringify(user)
            Http.send(data);
            Http.onreadystatechange = (e) => {
            console.log(Http.responseText)
            };

        } // addUser()

        document.addEventListener('DOMContentLoaded', ()=>{
            document.getElementById('signup-btn').addEventListener('click', addUser);
        });

</script>


</body>
</html>