<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheets" href="index.css ">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meet-up dating applikation</title>
    <link rel="stylesheet" href="/View/index.css" type= "text/css">
    <script src="server.js" ></script>
</head>
<body>

<div class = "sign-up-form">
    <h1> Update User</h1>
    <form method='POST' content ="content-type" action ="/userInformation">
    <div class ="sign-up">
            <img src = "/View/img/usericon.png">
            <input name="firstName" id="FirstNameInput" class="input-box" placeholder="Update Your Firstmname">
            <input name="lastName" id="lastNameInput" class="input-box" placeholder="Update Your Last Name">
            <input name="age" id="ageInput" class="input-box" placeholder="Update Your Age">
            <input name="address" id="addressInput" class="input-box" placeholder="Update Your Address">
            <input name="gender" id="genderInput" class="input-box" placeholder="Update Gender">
            <input name="interest" id="interestInput" class="input-box" placeholder="Update Your Interest">
            <input type="eMail" name="eMail" id="emailInput" class="input-box" placeholder="Update Your Email">
    </div>
            <p><span><input type ="checkbox"></span>I agree to the terms of the services</p>
            <input type="submit" id ="user-btn" class="signUp-btn" value ="Check user information"></button>
            <input type="submit" id ="userUpdate-btn" class="signUp-btn" value ="Update User"></button>
            <input type="submit" id ="delete-btn" class="signUp-btn" value ="Delete user"></button>

    </form>
</div>

    
</body>
</html>